.main-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.form-container,
.img-container {
	width: 50%;
}

.form-image {
	width: 100%;
	height: auto;
}

.form-container {
	padding: 25px;
}

textarea {
	width: 100%;
}

.form-item {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
