.welcome-container {
  display: flex;
  flex-direction: row;
}

.img-container,
.welcome-message {
  flex: 50%;
}

.welcome-message {
  padding: 25px;
}
.welcome-image {
  width: 100%;
  height: auto;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  border: 1px solid gray;
  padding: 25px;
}

.img-info {
  width: 200px;
  height: 200px;
}

.description-info {
  margin-top: 25px;
}
